@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Titillium+Web:300,300i,400,700');

// Header Styles

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium', Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $darkBlue;
}

h1 {
    font-size: 44px;
}

// Paragraph Text Styles

html, body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $textGrey;
    line-height: 1.6;
    scroll-behavior: smooth;
    @media screen and (min-width: 2000px) {
        font-size: 1vw;
    }
}

p, ul, li, ol, span {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $textGrey;
    line-height: 1.6;
    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    opacity: 1;
    &:hover {
        opacity: 0.6;
        transition: all 0.3s ease-in-out;
    }
}

// Other Global Styles

img {
    max-width: 100%;
    object-fit: cover;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.hs-cta-wrapper {
    cursor: pointer;
    opacity: 1;
    &:hover {
        opacity: 0.6;
        transition: all 0.3s ease-in-out;
    }
}